/* Colores base */
body {
    background-color: #f0f4f8;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Enlaces */
a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: #024774;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-bottom: 3px solid #00b4ff;
    padding-bottom: 10px;
    letter-spacing: 1.2px;
}

h2,
h3,
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #024774;
    /* mismo tono oscuro del footer */
    margin-bottom: 10px;
}

/* Párrafos */
p,
strong,
em {
    font-family: 'Arial', sans-serif;
    color: #333333;
    /* gris oscuro para buena legibilidad */
    line-height: 1.6;
    margin-bottom: 15px;
}

.contenedor {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* Opcional para controlar el tamaño */
.contenedor section {
    flex: 10;
}

.contenedor aside {
    flex: 1;
}
.video-center {
    display: block;
    /* Convierte el video en elemento bloque */
    margin: 0 auto;
    /* Aplica margen automático a los lados para centrar */
    text-align: center;
}

footer {
   
    /* color oscuro */
    color: #f0f4f8;
    /* texto claro */
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 30px;
    border-top: 3px solid #007acc;
    /* línea decorativa */
}
/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead {
    background: linear-gradient(90deg, #007acc, #00b4ff);
    color: white;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f0f8ff;
    cursor: pointer;
}

/* Formulario */
form {
    max-width: 400px;
    margin: 20px 0;
    padding: 20px;
    background: #f7faff;
    border: 2px solid #007acc;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form input[type="text"],
form input[type="email"] {
    width: 80%;
    padding: 10px 12px;
    margin: 8px 0 15px 0;
    border: 2px solid #007acc;
    border-radius: 6px;
    transition: border-color 0.3s ease;
    font-size: 16px;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
    border-color: #00b4ff;
    outline: none;
}

form button {
    background: #007acc;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #005f99;
}